<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Manage Client</b></h4>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-success" (click)="createClient()">
                <i class='fas fa-plus-circle'></i><span> ADD</span>
              </button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered table-content">
          <thead>
            <tr class="center-align">
              <th>Id</th>
              <th>Company Name</th>
              <th>Company Size</th>              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clientList" class="center-align">
              <td>{{ client.Id }}</td>
              <td>{{ client.CompanyName }}</td>
              <td>{{ client.CompanySize }}</td>             
              <td>
                <a href="#" [routerLink]="['/DetailClient/', client.id]" class="btn"><i class='fas fa-eye view'></i></a>
                <a href="#" [routerLink]="['/EditClient/', client.id]" class="btn"><i class="fa fa-edit edit"></i></a>
                <button type="button" (click)="deleteClientConfirmation(client)" class="btn"><i class='fas fa-trash-alt delete'></i></button>
              </td>
            </tr>
            <tr>
              <td *ngIf="clientList.length == 0" colspan="6">No Client Found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>